# Place the file at this place: ~/.gitconfig
[user]
	email = dainslef@outlook.com
	name = dainslef

[core]
	editor = vim
	autocrlf = input

	# for Windows only when you installed Visual Studio Code
	# editor = \"C:/Users/{user}/AppData/Local/Programs/Microsoft VS Code/Code.exe\" --wait
