set tabsize 4
set const
set boldtext
set brackets ""')>]}"
set mouse
set multibuffer
set nohelp
set smooth

# In OS X, these options are not be supported, remove theme
set functioncolor yellow
include "/usr/share/nano/*.nanorc"
