if [ $DESKTOP_SESSION == "gnome" ] || [ $DESKTOP_SESSION == "ubuntu" ]; then
	input_method=ibus
else
	input_method=fcitx
fi

if [ $XDG_SESSION_DESKTOP != "KDE" ]; then
	export QT_STYLE_OVERRIDE=GTK+
fi

export GTK_IM_MODULE=$input_method
export QT_IM_MODULE=$input_method
export XMODIFIERS="@im=$input_method"
export CLASSPATH=$CLASSPATH:.
