# Link this file to ~/.config/systemd/user/fcitx5.service.

[Unit]
Description=Fcitx5
After=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 5
Type=exec
ExecStart=/usr/bin/fcitx5
Restart=always
RestartSec=3
KillSignal=SIGKILL
KillMode=process

[Install]
WantedBy=session.slice
