# Link this file to ~/.config/systemd/user/nm-applet.service.

[Unit]
Description=Network Manager Applet

[Service]
ExecStart=/usr/bin/nm-applet
Restart=always
RestartSec=2

[Install]
WantedBy=session.slice
