# Link this file to ~/.config/systemd/user/picom.service.

[Unit]
Description=Picom

[Service]
ExecStart=/usr/bin/picom
Restart=always
RestartSec=2

[Install]
WantedBy=session.slice
